<div
  ng-app="Flightmap"
  ng-controller="MainCtrl"
  layout="column"
  class="full-height"
  ng-cloak
>
  <section layout="row" flex>
    <md-sidenav
        id="sidebar"
        class="md-sidenav-left"
        md-component-id="nav"
        md-is-locked-open="$mdMedia('gt-md')"
        md-disable-backdrop
        md-whiteframe="4"
    >
      <md-input-container>
        <md-button class="md-primary md-raised" id="info-button" aria-label="Info">
          <i class="medium-icon ion-information"></i>
        </md-button>
        <h1>Flightmap</h1>
      </md-input-container>
      <strong>Current location:</strong>
      <md-input-container class="md-icon-float md-block">
      <label>Airport, city, country</label>
      <md-icon md-svg-src="<%= image_path('ic_place_black_24px.svg') %>" class="name"></md-icon>
      <input ng-model="user.name" type="text">
    </md-input-container>
    </md-sidenav>
    <md-content
      flex
      layout-padding
    >
      <div class="">
        <%# main content (map) will go here %>
      </div>
    </md-content>
  </section>
</div>
