<div
  ng-app="Flightmap"
  ng-controller="MainCtrl"
  layout="column"
  class="full-height"
  ng-cloak
>
  <section layout="row" flex>
<%################################################################### SIDEBAR %>
    <md-sidenav
        id="sidebar"
        class="md-sidenav-left"
        md-component-id="nav"
        md-is-locked-open="$mdMedia('gt-md')"
        md-disable-backdrop
        md-whiteframe="4"
    >
<%################################################################### TOOLBAR %>
      <md-toolbar ng-controller="DialogCtrl" class="md-hue-2">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
            <md-icon md-svg-icon="<%= image_path('ic_flight_white_36px.svg') %>"></md-icon>
          </md-button>
          <h1>
            <span>Flightmap</span>
          </h1>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Favorite" ng-click="openDialog()">
            <md-icon md-svg-icon="<%= image_path('ic_info_outline_white_36px.svg') %>"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
<%################################################################### OPTIONS %>
      <div class="input-container">
        <span>Mjesto polaska:</span>
        <input type="text" placeholder="zračna luka, grad, država">
      </div>
      <md-input-container class="slider-container">
        <span>Budžet: </span>
        <div id="budget-range"></div>
      </md-input-container>
      <div class="input-dual">
        <div class="input-dual-inner">
          <span>Broj osoba:</span>
          <input type="number">
        </div>
        <div class="input-dual-inner">
          <span>Valuta:</span>
          <select>
            <option>option</option>
            <option>option</option>
            <option>option</option>
          </select>
        </div>
      </div>
      <div class="input-dual">
        <div class="input-dual-inner">
          <span>Datum polaska:</span>
          <select>
            <option>option</option>
            <option>option</option>
            <option>option</option>
          </select>
        </div>
        <div class="input-dual-inner">
          <span style="opacity: 0; cursor: default">.</span>
          <select>
            <option>option</option>
            <option>option</option>
            <option>option</option>
          </select>
        </div>
      </div>
      <md-input-container class="slider-container">
        <span>Trajanje putovanja:</span>
        <div id="duration-range"></div>
      </md-input-container>
<%############################################################## END SIDEBAR  %>
    </md-sidenav>
<%################################################################### CONTENT %>
    <md-content
      flex
      layout-padding
    >
      <div class="">
        <%# main content (map) will go here %>
      </div>
    </md-content>
<%##########################################################################  %>
  </section>
</div>
