<div
  ng-app="Flightmap"
  ng-controller="MainCtrl"
  layout="column"
  class="full-height"
  ng-cloak
>
  <section layout="row" flex>
    <md-sidenav
        id="sidebar"
        class="md-sidenav-left"
        md-component-id="nav"
        md-is-locked-open="$mdMedia('gt-md')"
        md-disable-backdrop
        md-whiteframe="4"
    >
      <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
            <md-icon md-svg-icon="<%= image_path('ic_flight_white_36px.svg') %>"></md-icon>
          </md-button>
          <h1>
            <span>Flightmap</span>
          </h1>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="<%= image_path('ic_info_outline_white_36px.svg') %>"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
        <strong class="input-heading">Current location:</strong>
      <md-input-container class="md-icon-float md-block input-margin">
      <label>Airport, city, country</label>
      <input ng-model="user.name" type="text">
    </md-input-container>
    </md-sidenav>
    <md-content
      flex
      layout-padding
    >
      <div class="">
        <%# main content (map) will go here %>
      </div>
    </md-content>
  </section>
</div>
