<div
  ng-app="Flightmap"
  ng-controller="MainCtrl"
  layout="column"
  class="full-height"
  ng-cloak
>
  <section layout="row" flex>
<%################################################################### SIDEBAR %>
    <md-sidenav
        id="sidebar"
        class="md-sidenav-left"
        md-component-id="nav"
        md-is-locked-open="$mdMedia('gt-md')"
        md-disable-backdrop
        md-whiteframe="4"
    >
<%################################################################### TOOLBAR %>
      <md-toolbar ng-controller="DialogCtrl" class="md-hue-2">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
            <md-icon md-svg-icon="<%= image_path('ic_flight_white_36px.svg') %>"></md-icon>
          </md-button>
          <h1>
            <span>Flightmap</span>
          </h1>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Favorite" ng-click="openDialog()">
            <md-icon md-svg-icon="<%= image_path('ic_info_outline_white_36px.svg') %>"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
<%################################################################### OPTIONS %>
<%########################################################## OPTIONS/LOCATION %>
      <div class="input-container">
        <span>Mjesto polaska:</span>
        <input
          id="departure-location"
          type="text"
          placeholder="zračna luka, grad, država"
          ng-model="selectedDepartureLocation"
          ng-change="updateOutputData()"
          >
      </div>
<%############################################################ OPTIONS/BUDGET %>
      <md-input-container class="slider-container">
        <span>Budžet: </span>
        <div range-slider
          min="0" max="10000"
          model-min="budget.min"
          model-max="budget.max"
          >
        </div>
        <div class="range-values">
          {{ budget.min }} -
          {{ budget.max }}
        </div>
      </md-input-container>
<%############################################ OPTIONS/PERSON COUNT, CURRENCY %>
      <div class="input-dual">
        <div class="input-dual-inner">
          <span>Broj osoba:</span>
          <input
            ng-model="selectedPersonCount"
            ng-change="updateOutputData()"
            type="number"
            onchange="limitPersonCount(this)"
            value="1"
            >
        </div>
        <div class="input-dual-inner">
          <span>Valuta:</span>
          <select ng-model="selectedCurrency" ng-change="updateOutputData()">
            <option ng-repeat="currency in availableCurrencies">{{ currency }}</option>
          </select>
        </div>
      </div>
<%############################################################## OPTIONS/DATE %>
      <div class="input-dual">
        <div class="input-dual-inner">
          <span>Datum polaska:</span>
          <select
            ng-model="selectedYear"
            ng-options="year as year for year in years"
            ng-change="updateSelectedDate(); updateOutputData()">
            <%#<option value="">- Neodređeno -</option>%>
          </select>
        </div>
        <div class="input-dual-inner">
          <span style="opacity: 0; cursor: default">.</span>
          <select
            ng-model="selectedMonth"
            ng-options="month as month.name for month in months"
            ng-change="updateSelectedDate(); updateOutputData()">
            <%#<option value="">- Neodređeno -</option>%>
          </select>
        </div>
      </div>
<%################################################### OPTIONS/FLIGHT DURATION %>
      <md-input-container class="slider-container">
        <span>Trajanje putovanja:</span>
        <div range-slider
          min="0" max="30"
          model-min="flightDuration.min"
          model-max="flightDuration.max">
        </div>
        <div class="range-values">
          {{ flightDuration.min }} - 
          {{ flightDuration.max }}
        </div>
      </md-input-container>
<%############################################################## END SIDEBAR  %>
    </md-sidenav>
<%################################################################### CONTENT %>
    <md-content id="main-content" flex>
      <div>
        <div id="selection_console" style="background: rgb(5, 13, 40); color: rgb(79, 194, 98); padding: 10px; width: 100%; overflow: auto; display: none;">
            {{ selectionObject.departure_city }} <br />
            {{ selectionObject.departure_country }} <br />
            {{ selectionObject.budget_min }} <br />
            {{ selectionObject.budget_max }} <br />
            {{ selectionObject.person_count }} <br />
            {{ selectionObject.currency }} <br />
            {{ selectionObject.month }} <br />
            {{ selectionObject.year }} <br />
            {{ selectionObject.flight_duration_min }} <br />
            {{ selectionObject.flight_duration_max }}

            <div style="margin-top: 15px; padding-top: 15px; border-top: 1px solid rgb(79,194,98);">
              <b>Possible countries to visit:</b><br />
              {{ outputData }}
            </div>
        </div>

        <script type="text/javascript">
          $(document).ready(function() {
            $('#vmap').vectorMap({
              map: 'world_en',
              backgroundColor: null,
              borderColor: '#818181',
              borderOpacity: 0.25,
              borderWidth: 1,
              color: 'rgb(140, 150, 170)',
              enableZoom: true,
              hoverColor: 'rgb(50, 80, 180)',
              hoverOpacity: null,
              normalizeFunction: 'linear',
              scaleColors: ['#b6d6ff', '#005ace'],
              selectedColor: 'rgb(50, 80, 180)',
              selectedRegions: null,
              showTooltip: true
             });
          });
        </script>

        <div id="vmap"></div>

      </div>
    </md-content>
<%##########################################################################  %>
  </section>
</div>
