<div
  ng-app="Flightmap"
  ng-controller="MainCtrl"
  layout="column"
  class="full-height"
  ng-cloak
>
  <section layout="row" flex>
<%################################################################### SIDEBAR %>
    <md-sidenav
        id="sidebar"
        class="md-sidenav-left"
        md-component-id="nav"
        md-is-locked-open="$mdMedia('gt-md')"
        md-disable-backdrop
        md-whiteframe="4"
    >
<%################################################################### TOOLBAR %>
      <md-toolbar ng-controller="DialogCtrl" class="md-hue-2">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
            <md-icon md-svg-icon="<%= image_path('ic_flight_white_36px.svg') %>"></md-icon>
          </md-button>
          <h1>
            <span>Flightmap</span>
          </h1>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Favorite" ng-click="openDialog()">
            <md-icon md-svg-icon="<%= image_path('ic_info_outline_white_36px.svg') %>"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
<%################################################################### OPTIONS %>
<%########################################################## OPTIONS/LOCATION %>
      <div class="input-container">
        <span>Mjesto polaska:</span>
        <input
          id="departure-location"
          type="text"
          placeholder="zračna luka, grad, država"
          ng-model="selectedDepartureLocation"
          >
      </div>
<%############################################################ OPTIONS/BUDGET %>
      <md-input-container class="slider-container">
        <span>Budžet: </span>
        <div range-slider
          min="0" max="100"
          model-min="demo1.min"
          model-max="demo1.max">
        </div>
        {{  demo1.min }}
        {{ demo1.max}}
      </md-input-container>
<%############################################ OPTIONS/PERSON COUNT, CURRENCY %>
      <div class="input-dual">
        <div class="input-dual-inner">
          <span>Broj osoba:</span>
          <input
            type="number"
            onchange="limitPersonCount(this)"
            ng-model="selectedPersonCount"
            value="1"
            >
        </div>
        <div class="input-dual-inner">
          <span>Valuta:</span>
          <select ng-model="selectedCurrency">
            <option ng-repeat="currency in availableCurrencies">{{ currency }}</option>
          </select>
        </div>
      </div>
<%############################################################## OPTIONS/DATE %>
      <div class="input-dual">
        <div class="input-dual-inner">
          <span>Datum polaska:</span>
          <select ng-model="selectedYear" ng-options="year as year for year in years">
          </select>
        </div>
        <div class="input-dual-inner">
          <span style="opacity: 0; cursor: default">.</span>
          <select ng-model='selectedMonth' ng-options='month as month.name for month in months'>
          </select>
        </div>
      </div>
<%################################################### OPTIONS/FLIGHT DURATION %>
      <md-input-container class="slider-container">
        <span>Trajanje putovanja:</span>
        <div range-slider
          min="0" max="100"
          model-min="demo2.min"
          model-max="demo2.max">
        </div>
        {{  demo2.min }}
        {{ demo2.max}}
      </md-input-container>
<%############################################################## END SIDEBAR  %>
    </md-sidenav>
<%################################################################### CONTENT %>
    <md-content
      flex
      layout-padding
    >
      <div ng-controller="DataOutput">
        <h1>Selected parameters</h1>
        <table border="1">
          <tr>
            <th>Departure location</th>
            <td>{{ selectedDepartureLocation }} </td>
          </tr>
          <tr>
            <th>Person count</th>
            <td>{{ selectedPersonCount }}</td>
          </tr>
          <tr>
            <th>Currency</th>
            <td>{{ selectedCurrency }}</td>
          </tr>
          <tr>
            <th>Date</th>
            <td>{{ selectedDate }}</td>
          </tr>
        </table>
      </div>
    </md-content>
<%##########################################################################  %>
  </section>
</div>
